@import "../../../../../../../styles";

.modal {
    --MAX-HEIGHT: 170px;

    .header {
        padding: 0 8px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .close-icon {
            cursor: pointer;
            margin: 5px 0;
        }

        .left-side {
            display: flex;
            flex-direction: column;

            .checkbox {
                margin: 5px 0;
            }

            .back-button {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 25px;

                .back-icon {
                    margin-right: 5px;
                }
            }
        }
    }

    .list {
        padding: 0 8px;
        @include custom-scrollbar;

        .property {
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 100%;

            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;

                .title-text {
                    @include text-ellipsis;
                }

                .def-width {
                    width: 155px;
                }

                .def-padding {
                    padding: 5px 0 5px 5px;
                }
            }

            .so-icon {
                margin-right: 8px;
            }

            .icon {
                width: 20px;
                margin-right: 5px;
                color: var(--SN-NODE-PARAM-COLOR);
            }

            .string {
                color: var(--SN-NODE-PARAM-COLOR-STRING);
            }

            .boolean {
                color: var(--SN-NODE-PARAM-COLOR-BOOLEAN);
            }

            .number {
                color: var(--SN-NODE-PARAM-COLOR-NUMBER);
            }

            .datetime {
                color: var(--SN-NODE-PARAM-COLOR-DATETIME);
            }

            .date {
                color: var(--SN-NODE-PARAM-COLOR-DATE);
            }

            .sys {
                color: var(--SN-NODE-PARAM-COLOR-SYS);
            }

            .sk {
                color: var(--SN-NODE-PARAM-COLOR-SK);
            }
        }
    }

    .search {
        display: flex;
        height: 30px;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid var(--SN-COLOR-TERTIARY);

        .icon {
          margin-right: 5px;
        }

        input[type="search"] {
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            flex-grow: 1;
            outline: none;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            padding: 5px;

            :focus {
                border: none;
            }
        }
    }

    .empty {
        display: flex;
        justify-content: center;
        align-items: center;

        .empty-icon {
            margin: 10px;
            color: var(--SN-COLOR-TERTIARY);
        }
    }

    .checkbox {
        color: $COLOR-FG;
        cursor: pointer;
        margin-right: 10px;
    }
}
