<div class="select-element">
    <span *ngIf="title" class="title" [title]="subTitle ? subTitle : ''">{{ title }}</span>
    <div #container class="select" [ngClass]="{'no-selected-item': !selectedItem, 'selected': showList}" (click)="clickOnSelect($event)">
        <div *ngIf="selectedItem" class="selected-item">
                <i *ngIf="selectedItem.icon"
                    [class]="selectedItem.icon + ' icon'"
                    [ngStyle]="selectedItem.color && {'color': selectedItem.color}">
                </i>
                <p [title]="selectedItem.value">{{ selectedItem.value | translate }}</p>
        </div>
        <div *ngIf="!selectedItem" class="placeholder">
            {{ placeholder ? placeholder : 'DIALOGBOX.SELECT' | translate }}
        </div>
        <i [class]="showList ? 'fa-solid fa-chevron-up button' : 'fa-solid fa-chevron-down button'"></i>
    </div>
</div>

<popup-element
    [show]="showList"
    [container]="selectContainer"
    [popupMargin]="popupMargin"
    [allowForScroll]="allowForScroll"
    (closePopup)="closePopup()">
    <div class="list">
        <div *ngIf="showSearch" class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input #searchInput
                [placeholder]="'SEARCHBOX.PLACEHOLDER' | translate"
                type="search"
                [(ngModel)]="search"
                (keyup)="onSearch()">
            <i *ngIf="search?.length > 0" class="fa-solid fa-xmark reset" (click)="resetSearch()"></i>
        </div>
        <div class="list-items">
            <div *ngFor="let item of filteredList" class="item" 
                (click)="selectItem(item)"                 
                [title]="item?.value"
                (mouseenter)="onmouseenterItem(item)" 
                (mouseleave)="onmouseleaveItem(item)">
                <i *ngIf="item?.icon" [class]="item?.icon + ' icon'" [ngStyle]="item?.color && {'color': item?.color}"></i>
                <span class="item-value">{{ item?.value | translate }}</span>
            </div>
            <div *ngIf="filteredList?.length === 0 || !filteredList" class="empty">
                <i class="fa-solid fa-ban"></i>
            </div>
        </div>
    </div>
</popup-element>