:host {

    --INSPECTOR-HEADER-BG: #1A78AD;
    --INSPECTOR-SECTION-HEADER-BG: #126392;
    --INSPECTOR-SELECTED: #2D9CDB;
    --INSPECTOR-SELECTED-TINT: #1d4a69;
    --INSPECTOR-NOSELECT: #11151b;
    --INSPECTOR-NOSELECT-LIGHT: #D6D6D6;
    --INSPECTOR-BUTTON-HOVER: #1d1e28;
    --INSPECTOR-INPUT-TINT: #000000;
    --INSPECTOR-LIGHT-WHITE-TINT: #ffffff1e;

    // CONTAINER
    --INSPECTOR-CONTAINER-WIDTH: 320px;
    --INSPECTOR-CONTAINER-MAX-HEIGHT: 700px;
    --INSPECTOR-CONTAINER-BOX-SHADOW: 0px 4px 4px #00000040;
    --INSPECTOR-CONTAINER-BORDER-RADIUS: 3px;

    // HEADER
    --INSPECTOR-HEADER-COLOR: #FFFFFF;

    // TOOLS
    --INSPECTOR-TOOLS-SELECTED-BG: #303235;
    --INSPECTOR-TOOLS-BG: #3e3f41;
    --INSPECTOR-TOOLS-ACTIVE-BG: #27AE60;
    --INSPECTOR-TOOLS-DISABLED-BG: #3e3f41;
    --INSPECTOR-TOOLS-BORDER-COLOR: #707070;

    // SECTION
    --INSPECTOR-SECTION-TITLE-COLOR: #c9c9c9;
    --INSPECTOR-SECTION-TITLE-BACKGROUND: #11151b;
    // --INSPECTOR-SECTION-TITLE-FONT-SIZE: 12pt;
    --INSPECTOR-SECTION-TITLE-FONT-WEIGHT: 500;

    --INSPECTOR-SECTION-CONTENT-COLOR: #c9c9c9;
    --INSPECTOR-SECTION-CONTENT-BACKGROUND: linear-gradient(90deg, rgba(22,29,39,0.8) 0%, rgba(28,35,45,0.95) 10%, rgba(28,35,45,1) 50%, rgba(28,35,45,0.95) 90%, rgba(28,35,45,0.8) 100%);
    --INSPECTOR-SECTION-CONTENT-BACKGROUND-TINT: #191a24;
    --INSPECTOR-SECTION-CONTENT-FONT-SIZE: 12pt;
    --INSPECTOR-SECTION-TITLE-FONT-WEIGHT: 500;

    // CARD
    --INSPECTOR-CARD-TITLE-BACKGROUND: #272933;
    --INSPECTOR-CARD-TITLE-BACKGROUND-TINT: #2d2f38;
    --INSPECTOR-CARD-CONTENT-BACKGROUND: #383a43;
    --INSPECTOR-CARD-CONTENT-BACKGROUND-TINT: #404350;
    --INSPECTOR-INHERIT-CARD-TITLE-BACKGROUND: #30373f;
    --INSPECTOR-INHERIT-CARD-TITLE-BACKGROUND-TINT: #39424d;

    // KEY LIST
    --KEY-LIST-BACKGROUND: #11151b;
    --KEY-LIST-BTN-BACKGROUND: #343943;

    // INPUT
    --INPUT-BACKGROUND-COLOR: #0D2837;
    --INPUT-BORDER: 0.5px solid #444444;
    --INPUT-COLOR: #D6D6D6;
    --INPUT-BORDER-ERROR: 0.5px solid var(--ion-color-danger);

    --POPUP-INPUT-BORDER: 0.5px solid #6f6161;
    --POPUP-INPUT-BACKGROUND: transparent;

    // WIDGETS
    --WIDGET-SECTION-BACKGROUND: #08090D;
    --WIDGET-ICON-BACKGROUND: #13141C;
    --WIDGET-ICON-SHADOW: #1a1c27;

    // APP UI TREE
    --INSPECTOR-VERT-MENU-HEADER: 40px;
    --INSPECTOR-VERT-MENU-BACKGROUND: #13141C;
    --INSPECTOR-VERT-MENU-BACKGROUND-SHADE: #1a1c27;
    --INSPECTOR-VERT-MENU-SECTION-BORDER-COLOR: var(--SN-COLOR-LAYOUT);
    --INSPECTOR-VERT-MENU-LIGHT-COLOR: #9c9c9c;
    --INSPECTOR-VERT-MENU-ITEM-BG-COLOR: #08090D;
    --INSPECTOR-BG-COLOR-SELECTED-ITEM: #2d9bdb67;
    --INSPECTOR-BG-COLOR-SELECTED-ITEM-CHILDREN: #2d9bdb2f;
    --INSPECTOR-INPUT-BORDER-COLOR: #383838;
    --INSPECTOR-INPUT-HEIGHT: 25px;

    --INSPECTOR-PROPERTY-PADDING-TOP-BOTTOM: 5px;
    --INSPECTOR-PROPERTY-PADDING-RIGHT-LEFT: 13px;
}

.right {
    transform-origin: top left;
    right: 10px;
}

.left {
    transform-origin: top right;
    left: 10px;
}
