@import '../../../../theme/mixins';

.absposition-parameters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.properties {
    width: 100%;

    .select-title {
        @include title(60px);
    }

    .property {
        display: flex;
        flex-direction: column;
        margin-left: 60px;

        .line {
            padding: 3px 0;
        }

        .select-inline-type {
            @include align-items-inputs(60px);
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2 !important;

            * {
                pointer-events: none;
            }
        }

    }
}
