$webRowCount: 12;
$webColCount: 24;
$mobileRowCount: 10;
$mobileColCount: 4;
// $gapSize: 10px;
$validDropZoneColor: rgba(0, 255, 76, 0.2);
$invalidDropZoneColor: rgba(255, 0, 0, 0.2);
// $widgetActiveColor: rgba(255, 94, 0, 0.2);