@import "../../../../styles.scss";

$PADDING-LEFT : 20px;

:host {
    --SN-COLOR-SECONDARY: #{$COLOR-BG-DARK-ALT};
    --SN-COLOR-WARNING: #{$COLOR-BTN};
    --SN-BACKGROUND: var(--INSPECTOR-VERT-MENU-BACKGROUND);

    --SCROLLBAR-COLOR: #{$COLOR-BG-DARK};
    --SCROLLBAR-SIZE: 3px;

    --EXPLORER-EXPAND-SIZE: #{$EXPLORER-EXPAND-SIZE};
    --EXPLORER-REDUCE-SIZE: #{$EXPLORER-REDUCE-SIZE};

    --HEADER-HEIGHT: 70px;
    --CUSTOMER-HEIGHT: 50px;

    font-size: 13px;
}

.explorer {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    transition: width .2s linear;
    width: var(--EXPLORER-EXPAND-SIZE);

    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--HEADER-HEIGHT);
        color: $EXPLORER-FG-COLOR;
        padding: 15px;
        width: 100%;
        flex-shrink: 0;

        .logo-name {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                pointer-events: none;
            }
        }
    
        .retractor {
            color: $COLOR-FG;
            cursor: pointer;
            font-size: 24px;
        }
    }

    .explorer-sections {
        overflow: auto;
        @include custom-scrollbar(var(--INSPECTOR-VERT-MENU-LIGHT-COLOR), #ffffff00, 5px);
        height: 100%;
        width: 100%;
        overflow-x: hidden;

        .customer {
            height: var(--CUSTOMER-HEIGHT);
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 13px;
            color: $EXPLORER-FG-COLOR;
            user-select: none;
            position: relative;

            .code {
                padding: 6px;
                margin-left: 10px;
                border-radius: 6px;
            }
            .name {
                margin: 0 20px;  
                @include text-ellipsis; 
            }

            .connection-icon {
                position: absolute;
                right: 8px;
                font-size: 14px;
            }

            .status-active {
                color: $COLOR-VALID;
            }
            .status-inactive {
                color: $COLOR-WARN;
            }

            &:hover {
                cursor: pointer;
                background: $EXPLORER-BG-ACTIVE;
            }
        }

        .modules {
            overflow: hidden;
            &.reduce {
                animation: reduce .3s linear;
                max-height: 0;
            }
            animation: expand .3s linear;
        }

        @keyframes expand {
            from {  max-height: 0;}
            to { max-height: 50em; }
        }

        @keyframes reduce {
            from { max-height: 30em; }
            to { max-height: 0; }
        }

        .session {
            background: var(--SN-BACKGROUND);
        }
    }

    &.reduce {
        width: var(--EXPLORER-REDUCE-SIZE);

        .logo-name, .name {
            display: none !important;
        }
    }
}