@import "../../../../theme/mixins";

@include app-errors;

.rule-condition {
    margin-bottom: 10px;
}

.property {
    @include property;
}

.button-container {        
    @include card-add-button;
}

.inside-card {
    .no-element {
        p {
            margin: 20px 30px;
            text-align: center;
        }
    }

    .button-container {
        padding-top: 0;
        margin: 0;

        .add-button {
            padding: 8px;
        }
    }
}