<sn-select-modal [(top)]="top" [snView]="snView" class="modal">

    <sn-formula-selected *ngIf="selectedFormula" [selectedFormula]="selectedFormula"
        (selectField)="onSelectField($event)"></sn-formula-selected>
    <div class="header-formulas" *ngIf="formulaFilter === ''">
        <i #previous class="title-formula fa-solid fa-circle-chevron-left" disabled="currentPage === 0" (click)="changePage(-1)"> </i>
        <i #next class="title-formula fa-solid fa-circle-chevron-right" (click)="changePage(1)"></i>
        <div class="group-formula" *ngFor="let group of formulaSearchList, let i=index">
            <div class="title-formula" [ngClass]="{selected: currentPage === i}" (click)="setPage(i)">
                {{ group.description }}
            </div>
        </div>
    </div>
    <div class="list-formulas" *ngIf="!selectedFormula">
        <div #formulas class="formulas scrollable" >
            <div class="group-formula" *ngFor="let group of groupFormulaFiltered">
                <div class="element-formula" *ngFor="let formula of group.formulas" (click)="onFormulaClick(formula)">
                    <sn-formula-element class="code-element" [codeFormula]="formula.code" [fields]="formula.fields">
                    </sn-formula-element>

                    <div class="description">
                        {{formula.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</sn-select-modal>