@import 'node_modules/@algotech/business/src/lib/_mixins.scss';

.main {
    height: 100%;
    display: flex;
    @include scrollbar();

    .widget-text {
        width: 100%;
    }

    .text {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}