<div class="content">

    <div class="title">
        <div class="gestion-title">
            {{ 'INSPECTOR.I18N.MONITORING' | translate }}
        </div>
    </div>

    <as-split direction="horizontal" unit="percent">
        <as-split-area size="*">
            <div class="container">
                <div *ngIf="!imports || imports.length === 0" class="empty">{{ 'INSPECTOR.I18N.MONITORING.NO.DATA' | translate}}</div>
                <options-monitoring class="card"
                    [monitorings]="imports"
                    (select)="onSelectedMonitoring($event)"
                ></options-monitoring>
            </div>
        </as-split-area>
    </as-split>
    
</div>
