@import "../../../../../../styles.scss";

:host {
    --LABEL-COLOR: #2D9CDB;
    --TITLE-COLOR-SELECTED: #ffffff;
    --TITLE-COLOR-NO-SELECTED: #A0A7B4;
    --BUTTON-BACK-COLOR: #27AE60;
    --LIST-WIDTH: 350px;
    --TITLE-MARGIN-BOTTOM: 20px;
    --LIST-MARGIN: 0px 10px 10px 10px;
    --BORDER-RADIUS: 0px 0px 5px 5px;
    --LIST-BACK-COLOR: #5E738D;          
    --ITEM-HEIGHT: 30px;  
}

.content {
    width: var(--LIST-WIDTH);
    display: flex;
    flex-direction: column;
    height: 100%;
 
    .title {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 50px;
        padding: 10px;
        margin-bottom: var(--TITLE-MARGIN-BOTTOM);

        .new-list {
            @include button();
            background-color: var(--BUTTON-BACK-COLOR) !important;

            span {
                padding: 0px 10px 0px 10px;
                @include option-title-selected(var(--TITLE-COLOR));
            }
        }

        .new-list:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }   

    .search {
        border-radius: var(--BORDER-RADIUS);
        margin: 20px 10px 0px 10px;
    }
    
    .groups {
        height: calc(100% - 70px);
        margin: var(--LIST-MARGIN);

        .group {            
            --OPTIONS-ITEM-HEIGHT: var(--ITEM-HEIGHT);
            --OPTIONS-LIST-BORDER-RADIUS: var(--BORDER-RADIUS);
            --OPTIONS-LIST-BACK-COLOR: var(--LIST-BACK-COLOR);                            
        }
    }    
}
