@import '../theme/mixins';

.data-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    @include title;
}

.data-inputs {
    display: block;
    width: 100%;
    min-width: 0;
}