<options-container class="form">

    <div class="createPassword">

        <div class="title">
            <div class="left-side">
                <div class="link-title">
                    {{ 'REPLACE_PASWORD.TITLE' | translate:{ login: user.username } }}
                </div>    
            </div>
                
            <div class="close" (click)="onClose($event)">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="contents">
            <div class="content">
                <label> {{ 'REPLACE_PASSWORD.SUBTITLE' | translate }} </label>
                <options-input
                    class="item"
                    [inputText]="newPassword"
                    type="string"
                    includeBottomBorder="true"
                    (updateText)="onChangePassword($event)"
                >
                </options-input>
            </div>

            <div class="content">
                <options-checkbox
                    class="item"
                    [checkElement]="sendMail"
                    [label]="'REPLACE_PASSWORD.PASSWORD-SEND' | translate"
                    selected="true"
                    includeBottomBorder="true"
                    (checkedChange)="onChangeSendMail($event)"
                >
                </options-checkbox>
            </div>
        </div>

        <div class="footer">
            <div class="button" (click)="onSendMail()">
                <span>
                    {{'REPLACE_PASSWORD.MODIFY' | translate}}
                </span>
            </div>
        </div>
    </div>

</options-container>