@import "../../../../../../styles.scss";

:host {
    --LABEL-COLOR: #2D9CDB;
    --BUTTON-DELETE-COLOR: #FF6473;
    --BUTTON-BACK-COLOR: #27AE60;
    --TITLE-COLOR: #ffffff;
    --PASSWORD-HEIGHT: 500px;
    --TITLE-MARGIN: 0px 5px 10px 5px;
}

.form {
    margin: 15px;
    --BG-COLOR: #{$COLOR-BG};

    .createPassword {
        display: flex;
        flex-direction: column;
        border: 2px solid #A0A7B4;
        border-radius: 5px;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: var(--TITLE-MARGIN);

            .left-side {
                height: 30px;
                margin: 10px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                .link-title {
                    line-height: 30px;
                    @include option-title-selected(var(--TITLE-COLOR));
                }
            }

            .close {
                line-height: 30px;
                margin: 10px;
                @include option-title-selected(var(--TITLE-COLOR));
            }

            .close:hover {
                cursor: pointer;
            }
        }

        .contents {
            max-height: var(--PASSWORD-HEIGHT);
            @include custom-scrollbar;
            overflow: none !important;
            overflow-y: auto;
            margin: 10px;

            .content {
                width: 100%;
                margin: 10px 0px 15px 0px;
    
                label {    
                    @include option-label(var(--LABEL-COLOR));
                    margin: 10px 5px 10px 5px;
                }
    
                .item {
                    --OPTIONS-SOURCE-MARGIN: 5px 0px 15px 5px;
                    --OPTIONS-CHECK-MARGIN: 15px 0px 20px 5px;
                    --OPTIONS-RADIO-MARGIN: 15px 0px 15px 0px;
                    --OPTION-COPYTEXT-MARGIN: 5px;
                    --OPTION-COPYTEXT-MAXWIDTH: 445px;
                }

                .login {
                    display: flex;
                    flex-direction: column;   
                }

                .border-bottom {
                    width: 100%;
                    margin-top: 2px;
                    border-bottom: 2px solid var(--LABEL-COLOR);
                }
            }
        }
       
        .footer {

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 10px;

            .button {
                @include button();
                margin: 5px;
                background-color: var(--BUTTON-BACK-COLOR) !important;

                span {
                    padding: 0px 10px 0px 10px;
                    @include option-title-selected(var(--TITLE-COLOR));
                }

                &.disabled {
                    pointer-events: none;
                    opacity: 0.2 !important;
    
                    * {
                        pointer-events: none;
                    }
                }
            }
            
            .button:hover {
                cursor: pointer;
                opacity: 0.5;
            }

        }
    }

}