:host {

    --SN-COLOR-SUCCESS: #8BC34A;
    --SN-COLOR-SUCCESS-SHADE: #53752C;
    --SN-COLOR-SUCCESS-TINT: #B9DB92;
    --SN-COLOR-SUCCESS-CONTRAST: #FFFFFF;

    // --SN-NODE-ERROR-COLOR: red;
    --SN-COLOR-ERROR: #f04141;
    --SN-COLOR-ERROR-BLUR: #f0414150;
    --SN-COLOR-ERROR-SHADE: #B30000;
    --SN-COLOR-ERROR-TINT: #FF4D4D;
    --SN-COLOR-ERROR-CONTRAST: #FFDAAF;

    // --SN-NODE-PARAM-COLOR: #EB6317;    
    // --SN-CONTEXTMENU-ACTION-COLOR: #ef7426;
    --SN-COLOR-WARNING: #EB6317;
    --SN-COLOR-WARNING-SHADE: #A54510;
    --SN-COLOR-WARNING-TINT: #F1925D;
    --SN-COLOR-WARNING-CONTRAST: #FFFFFF;

    // COULEUR POUR LE BACKGROUND DES NODES 
    // --SN-NODE-BACKGROUND: #222328; // --> 0f1113
    --SN-COLOR-PRIMARY: #CFD8DC;
    --SN-COLOR-PRIMARY-TRANSPARENT: rgba(207, 216, 220, 0.7);
    --SN-COLOR-PRIMARY-SHADE: #7C8284;
    --SN-COLOR-PRIMARY-TINT: #E2E8EA;
    --SN-COLOR-PRIMARY-CONTRAST: #263238;

    // COULEUR POUR LE BACKGROUND DES SELECTOR / TOOLBOX / POPUPS / CONTEXTMENU ...
    // --SN-SELECTOR-NODE-BACKCOLOR: #383B4A;
    // --SN-TOOLBOX-BACKGROUND: #394453;
    // --SN-CONTEXTMENU-BACKGROUND-COLOR: #0f1113;    
    --SN-COLOR-SECONDARY: #383B4A;
    --SN-COLOR-SECONDARY-SHADE: #22232C;
    --SN-COLOR-SECONDARY-TINT: #888992;
    --SN-COLOR-SECONDARY-CONTRAST: #263238;
    
    // COULEUR DE CONSTRAT POUR LES DES SELECTOR / TOOLBOX ...
    // --SN-SELECTOR-GROUP-FONTCOLOR: #7C818B;
    // --SN-TOOLBOX-ICON-COLOR: #888F98;
    --SN-COLOR-TERTIARY: #7C818B;
    --SN-COLOR-TERTIARY-SHADE: #4A4D53;
    --SN-COLOR-TERTIARY-TINT: #B0B3B9;
    --SN-COLOR-TERTIARY-CONTRAST: #FFFFFF;

    // COULEUR POUR LAYOUT
    --SN-COLOR-LAYOUT: #B0BEC5;
    --SN-COLOR-LAYOUT-SHADE: #6A7276;
    --SN-COLOR-LAYOUT-TINT: #D0D8DC;
    --SN-COLOR-LAYOUT-CONTRAST: #263238;

    //SEPARATEURS ENTRE ELEMENTS CONTEXTMENU / ... 
    // --SN-CONTEXTMENU-SEPARATOR-COLOR: #78797a; --> 828282        
    --SN-COLOR-SEPARATOR: #394554;
    --SN-COLOR-SEPARATOR-SHADE: #484949;
    --SN-COLOR-SEPARATOR-TINT: #AEAFAF;
    --SN-COLOR-SEPARATOR-CONTRAST: #263238;

    // COULEUR TEXT POUR CONTRAST
    // --SN-TOOLBOX-TEXT: #9c9c9c;
    // --SN-SELECTOR-NODE-HOVERCOLOR: #5F6676;
    // --SN-SELECTOR-NODE-LINE: #5F6676;
    // --SN-SELECTOR-SEARCH_BACKCOLOR: #5F6676;
    --SN-COLOR-LIGHT: #9C9C9C;
    --SN-COLOR-LIGHT-SHADE: #5E5E5E;
    --SN-COLOR-LIGHT-TINT: #C4C4C4;
    --SN-COLOR-LIGHT-CONTRAST: #FFFFFF;

    // COULEUR ÉDITION / PREVIEW / INPUT-BOX / SEARCH BOX ...
    --SN-COLOR-INPUT: #9C9C9C;
    --SN-COLOR-INPUT-SHADE: #5E5E5E;
    --SN-COLOR-INPUT-TINT: #C4C4C4;
    --SN-COLOR-INPUT-CONTRAST: #263238;

    // BOUTONS OU ELEMENTS ACTIVES
    // --SN-SECTION-EDITABLE-ADD-BUTTON-BACKGROUND: #2C6585;
    // --SN-TOOLBOX-SELECTED: #2C6585;
    --SN-COLOR-ACTIVE: #2C6585;
    --SN-COLOR-ACTIVE-OPACITY: rgba(44, 101, 133, 0.2);
    --SN-COLOR-ACTIVE-SHADE: #1a3d50;
    --SN-COLOR-ACTIVE-TINT: #80a3b6;
    --SN-COLOR-ACTIVE-CONTRAST: #ffffff;
    
    // COULEUR BOUTONS
    --SN-COLOR-BUTTON: #000000;
    --SN-COLOR-BUTTON-SHADE: #000000;
    --SN-COLOR-BUTTON-TINT: #000000;
    --SN-COLOR-BUTTON-CONTRAST: #000000;
    
    // SCROLL BARS
    // --SN-SCROLLBAR-COLOR: #687288;
    --SN-COLOR-SCROLLBAR: #687288;

    --SN-COLOR-SELECTION: #009AD5;
    --SN-COLOR-SELECTION-OPACITY: rgba(0, 154, 213, 0.2);
    --SN-COLOR-SELECTION-SHADE: #2c6585;
    --SN-COLOR-SELECTION-TINT: #2c6585;
    --SN-COLOR-SELECTION-CONTRAST: #2c6585;
    
    --SN-COLOR-SEARCH: #b28704;
    --SN-COLOR-SEARCH-ACTIVE: #76ff03;

    // COULEUR FONT
    // --SN-SECTION-EDITABLE-ADD-BUTTON-COLOR: #FFFFFF;
    // --SN-ELEMENT-HEADER-COLOR: #FFFFFF;
    // --SN-ELEMENT-COLOR: #FFFFFF;
    // --SN-NODE-COLOR: #FFFFFF;
    // --SN-GROUP-CLOSE-COLOR: #FFFFFF;
    // --SN-LINK-COLOR: #FFFFFF;
    // --SN-TOOLBOX-TEXT-SELECTED: #fff;
    // --SN-CONTEXTMENU-COLOR: #FFFFFF;
    // --SN-SELECTOR-SEARCH-COLOR: #ffffff;    
    // --SN-SELECTOR-NODE-FONTCOLOR: #ffffff;
    --SN-COLOR-FONT: #263238;
    --SN-COLOR-FONT-SHADE: #171E22;
    --SN-COLOR-FONT-TINT: #7D8488;
    --SN-COLOR-FONT-CONTRAST: #FFFFFF;

    // COULEUR TRANSPARENT 
    // --SN-SELECTOR-BACKCOLOR: transparent;
    // --SN-SELECTOR-GROUP-BACKCOLOR: transparent;
    --SN-NO-COLOR: transparent;
    
    // NODES
    --SN-NODE-HEADER-BACKGROUND: none; // default value
    
    // NODES - FLOW - CONNECTED DISCONNECTED
    --SN-NODE-PARAM-COLOR-CONNECT: #263238;
    --SN-NODE-PARAM-COLOR-DISCONNECT: #cfd8dc;

    --SN-FLOW-COLOR-DISCONNECT: #687288;
    --SN-FLOW-COLOR-CONNECT: #1565c0;
    --SN-FLOW-COLOR-ADD: #FFFFFF;

    // NOUVEAUX PARAMETRES PAR TYPE  
    --SN-NODE-PARAM-COLOR-KEY-EDIT: #8e8078;
    --SN-NODE-PARAM-COLOR: #EB6317; // default value

    --SN-NODE-PARAM-COLOR-STRING: #BB6BD9;
    --SN-NODE-PARAM-COLOR-STRING-FADE: #c5cae9;

    --SN-NODE-PARAM-COLOR-NUMBER: #2B71C3;
    --SN-NODE-PARAM-COLOR-NUMBER-FADE: #b2ebf2;

    --SN-NODE-PARAM-COLOR-BOOLEAN: #3DBCB0;
    --SN-NODE-PARAM-COLOR-BOOLEAN-FADE: #f0f4c3;

    --SN-NODE-PARAM-COLOR-DATETIME: #F5C64E;
    --SN-NODE-PARAM-COLOR-DATETIME-FADE: #fff9c4;

    --SN-NODE-PARAM-COLOR-DATE: #F5C64E;
    --SN-NODE-PARAM-COLOR-DATE-FADE: #fff9c4;

    --SN-NODE-PARAM-COLOR-TIME: #F5C64E;
    --SN-NODE-PARAM-COLOR-TIME-FADE: #847960;

    // COULEUR DU GROUPE
    --SN-GROUP-COLOR: #4E4655;
    
    // COULEUR BOX
    --SN-BOX-CONNECTION-COLOR: #546e7a;
    --SN-BOX-COLOR: linear-gradient(180.56deg, #37474f, #546e7a);
    --SN-BOX-HEADER-COLOR: #5F6676;
    --SN-BOX-DRAGHOVER-COLOR: #828282;    
}
