:host {

    --SN-NODE-HEADER-HEIGHT: 35px;
    --SN-NODE-HEADER-FONT-SIZE: 14px;
    --SN-NODE-CONTENT-MAX-HEIGHT: 350px;
    --SN-NODE-CONTENT-MIN-HEIGHT: 50px;
    --SN-NODE-CONTENT-PADDING: 10px;
    --SN-NODE-WIDTH: 250px;
    --SN-NODE-LINE-HEIGHT: 35px;    
    --SN-NODE-UNDROPPABLE-OPACITY: 0.1;    
    --SN-NODE-SECTION-SIZE: 16px;
    
    --SN-FLOW-PARAM-SIZE: 12px;

    --SN-NODE-PARAM-SIZE: 14px;
    --SN-NODE-PARAM-INPUT-LINE-HEIGHT: 20px;
    --SN-NODE-PARAM-INPUT-LINE-WIDTH: 150px;
    --SN-NODE-PARAM-INPUT-SELECT-HEIGHT: 30px;
    --SN-NODE-PARAM-INPUT-SELECT-BORDER-RADIUS: 8px;
    --SN-NODE-PARAM-INPUT-SELECT-LIST-HEIGHT: 150px;
    --SN-NODE-PARAM-INPUT-SELECT-LIST-ITEM-HEIGHT: 25px;
    --SN-NODE-PARAM-INPUT-SELECT-LIST-ITEM-LINE-HEIGHT: 15px;
    --SN-NODE-PARAM-KEY-EDIT-WIDTH: 120px;

    --SN-NODE-CLOSE-PADDING: 25px;

    --SN-ELEMENT-BORDER-RADIUS: 5px;
    --SN-ELEMENT-HEADER-PADDING: 5px;

    --SN-CONTAINER-SIZE: 300px;
    --SN-CONTAINER-MARGIN-BOTTOM: 50px;
    --SN-CONTAINER-PADDING: 20px;
    --SN-CONTAINER-HEADER-HEIGHT: 50px;
    --SN-CONTAINER-HEADER-PADDING: 25px;
    --SN-CONTAINER-HEADER-FONT-SIZE: 23px;

    --SN-BOX-HEADER-HEIGHT: 50px;    
    --SN-BOX-PADDING: 20px;    
    
    --SN-CONTEXTMENU-MARGIN: 5px;
    --SN-CONTEXTMENU-PADDING-TOP-BOTTOM: 5px;
    --SN-CONTEXTMENU-WIDTH: 250px;
    --SN-CONTEXTMENU-MENU-PADDING-TOP-BOTTOM: 5px;
    --SN-CONTEXTMENU-SEPARATOR-HEIGHT: 1px;
    --SN-CONTEXTMENU-ACTION-HEIGHT: 30px;
    --SN-CONTEXTMENU-ACTION-FONT-SIZE: 12px;
    --SN-CONTEXTMENU-ACTION-PADDING: 0 10px 0px 30px;

    --SN-SELECTOR-SN-NODE-PARAM-SIZE: 15px;
    --SN-SELECTOR-NODE-HEIGHT: 42px;
    --SN-SELECTOR-SEARCH-HEIGHT: 30px;
    --SN-SELECTOR-SEARCH-MARGIN: 5px;
    --SN-SELECTOR-SEARCH-BORDER-RADIUS: 5px;
    --SN-SELECTOR-SEARCH-CLOSE-SIZE: 16px;

    --SN-SELECTION-BORDER: 3px;
    --SN-ACTIVE-BORDER: 6px;

    --SN-COMMENT-SPACE: 250;
}