<div class="header">
    <div class="title">{{ 'INSPECTOR.DATABASE.IMPORTS' | translate}}</div>
    <div class="title">{{ 'INSPECTOR.DATABASE.DELETIONS' | translate}}</div>
</div>
<div class="content">
    <as-split direction="horizontal" unit="percent">
        <as-split-area size="50" maxSize="50" minSize="50">
            <div class="container">
                <div *ngIf="!imports || imports.length === 0" class="empty">{{ 'INSPECTOR.DATABASE.MONITORING.NO.DATA' | translate}}</div>
                <options-monitoring class="card"
                    [monitorings]="imports"
                    (select)="onSelectedImportMonitoring($event)"
                ></options-monitoring>
   
            </div>
        </as-split-area>
        <as-split-area size="*">
            <div class="container">
                <div *ngIf="!deletions || deletions.length === 0" class="empty">{{ 'INSPECTOR.DATABASE.MONITORING.NO.DATA' | translate}}</div>
                <options-monitoring class="card"
                    [monitorings]="deletions"
                    (select)="onSelectedIndexMonitoring($event)"
                ></options-monitoring>
            
            </div>
        </as-split-area>
    </as-split>
</div>