@import "../../../../../../styles.scss";

:Host {
    --LABEL-COLOR: #2D9CDB;
    --INPUT-COLOR: #F9F9F9;
    --TEXT-COLOR: #c4c4c4;
    --CHECK-MARGIN: 10px;
}

.input-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;

    label {
        @include option-input-label(var(--TEXT-COLOR));       
        padding-top: 5px;
        margin-right: 4px;
        min-width: 120px
    }

    .items {

        border: none;
        background-color: $COLOR-BG-LIGHT;
        border-bottom: thin solid var(--LABEL-COLOR);
        outline: none;
        min-width: 90px;
        max-width: 120px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0px 15px 0px 5px;

        .item {
            @include option-title(var(--INPUT-COLOR));
            @include text-ellipsis();
            margin-right: 5px;
        }
        
        .icon {
            color: var(--TEXT-COLOR);
        }
    }

    .items:hover {
        cursor: pointer;
    }

    .endLabel {
        @include option-input-label(var(--TEXT-COLOR));       
        padding-top: 5px;
        margin-right: 4px;
        min-width: 70px
    }
}

.pop-up {
    --POP-UP-CHECK-MARGIN: var(--CHECK-MARGIN);
}