
<as-split direction="horizontal" unit="pixel">
    <as-split-area size="*">
        <as-split direction="vertical" unit="pixel">
            <as-split-area size="*">
                <div class="graph" #editor>
                    <div class="layout">
                        <sn-toolbox class="toolbox"
                            [snModel]="snModel"
                            [snView]="snView"
                            [host]="host"
                            [customerKey]="customerKey"
                            (viewChanged)="onViewChanged($event)"
                            (runDebug)="runDebug()"
                            (stopDebug)="stopDebug({ redraw: true })"
                            (shared)="activateSmartLink()"
                            (runHelper)="runHelper()">
                        </sn-toolbox>

                        <toolbox-drawing *ngIf="snView && snView.drawing" class="toolbox-drawing"
                            [svgID]="'svg'"
                            [containerID]="'container'"
                            [data]="snView.drawing"
                            (dataChanged)="onChanged()"
                            (activated)="onDrawingActivate($event)">
                        </toolbox-drawing>
                        
                        <div class="work-layout">
                            <div class="main-layout">
                                <sn-main-layout 
                                    class="main-layout"
                                    [snView]="snView"
                                    [settings]="settings"
                                    [search]="search"
                                    (selected)="onSelected($event)"
                                    (changed)="onChanged($event)">
                                </sn-main-layout>
                                <local-search
                                    [snModelUuid]="snModel.uuid"
                                    [version]="snVersion"
                                    (closed)="onClose()"
                                    class="local-search"
                                    *ngIf="searchActive">
                                </local-search>
                            </div>
                            <sn-work-flow-inspector
                                id="sn-work-flow-inspector"
                                *ngIf="snModel && snView"
                                [snModel]="snModel"
                                [snView]="snView"
                                [context]="context"
                                [options]="snView.options"
                                [param]="param"
                                [smartmodel]="smartModel"
                                [snView]="snView"
                                [forceOpenTab]="openInspector"
                                (changed)="onChangedInspector()">
                            </sn-work-flow-inspector>
                        </div>
                    </div>

                    <cursors
                        *ngIf="snView"
                        [editor]="editor"
                        [zoomService]="snZoom"
                        [customerKey]="customerKey"
                        [host]="host"
                        [viewId]="snView.id"
                        >
                    </cursors>          

                    <app-smart-link 
                        class="smartLink"
                        *ngIf="openSmartLink"
                        [snView]="snView"
                        [customerKey]="customerKey"
                        [host]="host"
                        [workFlow]="workFlow"
                        (close)="onCloseSmartLink($event)">
                    </app-smart-link>

                </div>
            </as-split-area>
            <as-split-area [size]="treeDebugSize" *ngIf="!treeDebugCLosed && (openDebug || workflowToDebug)">
                <app-tree-debug *ngIf="!treeDebugCLosed && (openDebug || workflowToDebug)"
                    [workflow]="workflowToDebug"
                    [report]="report"
                    (closeTab)="handCloseTabs()">
                </app-tree-debug>
            </as-split-area>
        </as-split>
    </as-split-area>

    <as-split-area [size]="debuggerSize" class="debugger-area" *ngIf="workflowToDebug">
        <at-workflow-debugger-layout
            [workflow]="workflowToDebug"
            [glists]="sessionsService.active.datas.read.glists"
            [groups]="sessionsService.active.datas.read.groups"
            [settings]="sessionsService.active.datas.read.settings"
            [smartmodels]="sessionsService.active.datas.read.smartModels"
            [tags]="sessionsService.active.datas.read.tags"
            [apps]="sessionsService.active.datas.read.apps"
            (retry)="runDebug()"
            class="debugger">
        </at-workflow-debugger-layout>
    </as-split-area>
</as-split>
