@import "../../../../../../styles.scss";

:host {
    --LABEL-COLOR: #2D9CDB;
    --TITLE-COLOR-SELECTED: #ffffff;
    --TITLE-COLOR-BOTTOM: #A0A7B4;
    --BUTTON-BACK-COLOR: #27AE60;
    --STORE-WIDTH: 450px;
    --TITLE-MARGIN-BOTTOM: 20px;
    --LIST-MARGIN: 8px 10px 10px 25px;
    --BUTTON-SEND-COLOR: #27AE60;
    --LIST-BACK-COLOR: #5E738D;
    --OBJECT-MARGIN: 4px 5px 4px 5px;
    --BORDER-RADIUS: 5px;
    --ITEM-HEIGHT: 50px;
}

.content {
    width: var(--STORE-WIDTH);
    display: flex;
    flex-direction: column;
    height: 100%;
 
    .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .open-store {
            @include button();
            background-color: var(--BUTTON-SEND-COLOR) !important;
            margin: 20px;

            span {
                padding: 10px;
                @include option-title-selected(var(--TITLE-COLOR-SELECTED));
            }
        }

        .open-store:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .article {
        display: flex;
        flex-direction: column;
        margin: 0 10 10 10px;

        .header {

            .article-titre {
                @include option-title-selected(var(--TITLE-COLOR-SELECTED));
                text-align: center;
                padding-top: 10px;   
            }
        }

        .elements {
            margin: 10px;

            label {    
                @include option-label(var(--LABEL-COLOR));
            }

            .element {
                margin-left: 5px;
            }
    
            .border-bottom {
                width: 100%;
                border-bottom: 2px solid var(--LABEL-COLOR);
            }
        }

        .lists {
            margin: 10px;
            height: 100%;

            label {    
                @include option-label(var(--LABEL-COLOR));
            }

            .list {
                --OPTIONS-ITEM-HEIGHT: var(--ITEM-HEIGHT);
                --OPTIONS-LIST-BORDER-RADIUS: var(--BORDER-RADIUS);
                --OPTIONS-LIST-BACK-COLOR: var(--LIST-BACK-COLOR);
                --OPTIONS-LIST-OBJECT-MARGIN: var(--OBJECT-MARGIN);
            }
        }

    }

}