<div class="content">

	<div class="title">
        <div
			class="open-store"
            (click)="onStoreConnect()"
		>
			<span>{{ 'STORE.GESTION-DOWNLOAD-TITRE' | translate }}</span>
		</div>
    </div>

    <div class="article" *ngIf="article">
        <div class="header">
            <div class="article-titre">
                {{'STORE.GESTION-DOWNLOAD.ARTICLE-TITRE' | translate}}    
            </div>
        </div>

        <div class="elements">
            <label> {{ 'STORE.GESTION-DOWNLOAD.ARTICLE-NAME' | translate }} </label>
            <options-input-multilang
                class="element"
                readOnly="true"
                [inputText]="article.display"                                        
            ></options-input-multilang>    
    
            <div class="border-bottom"></div>
        </div>

        <div class="elements">
            <label> {{ 'STORE.GESTION-DOWNLOAD.ARTICLE-VERSION' | translate }} </label>
            <options-input
                class="element"
                readOnly="true"
                [inputText]="article.version"                                        
            ></options-input>    
    
            <div class="border-bottom"></div>
        </div>

        <div class="elements">
            <label> {{ 'STORE.GESTION-DOWNLOAD.ARTICLE-TYPE' | translate }} </label>
            <options-chips
                class="element"
                readOnly="true"
                type="text"
                [items]="itemList"                                        
            ></options-chips>    
        </div>

        <div class="elements">
            <label> {{ 'STORE.GESTION-DOWNLOAD.ARTICLE-DESC' | translate }} </label>
            <options-markdown-multilang
                class="element"
                rows="4"
                readOnly="true"
                [inputText]="article.description"                                        
            ></options-markdown-multilang>    
    
            <div class="border-bottom"></div>
        </div>

        <div class="elements">
            <label> {{ 'STORE.GESTION-DOWNLOAD.ARTICLE-CONTENT' | translate }} </label>
            <options-markdown-multilang
                class="element"
                rows="4"
                readOnly="true"
                [inputText]="article.content"                                        
            ></options-markdown-multilang>    
    
            <div class="border-bottom"></div>
        </div>
    </div>

    <div class="article" *ngIf="!article">
        <div class="header">
            <div class="article-titre">
                {{ 'STORE.GESTION-DOWNLOAD.NO-ARTICLE-DOWNLOAD' | translate}}
            </div>
        </div>
    </div>
</div>