@import '../../../../../../styles.scss';

:host {
    --LABEL-COLOR: #2D9CDB;
    --TITLE-COLOR: #ffffff;
    --BUTTON-DELETE-COLOR: #FF6473;
    --TASK-WIDTH: 450px;
    --CHECK-MARGIN: 18px 0px 5px 5px;
    --CHECKED-COLOR: #27AE60;
}

.content {
    display: flex;
    flex-direction: column;
    width: var(--TASK-WIDTH);
    height: 100%;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        padding: 15px;
        margin-bottom: 20px;

        .task-title {
            @include option-title-selected(var(--TITLE-COLOR));
            padding-top: 10px;
        }

        .check {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: -5px;

            .label {
                padding-top: 9px;
                @include option-title-selected(var(--TITLE-COLOR));
                text-align: right;
            }

            .toggle {
                padding: 5px 10px;
                --OPTION_CHECKED-COLOR: var(--CHECKED-COLOR);
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        @include scrollbar-hidden();

        .elements {
            height: 100%;
            margin: 10px 10px 20px 10px;

            label {
                @include option-label(var(--LABEL-COLOR));
            }

            .smartflow {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                gap: 15px;

                .goto {
                    cursor: pointer;
                    color: var(--TITLE-COLOR);
                }
            }

            .element {
                margin-left: 5px;
                width: 100%;
            }

            .element-end {
                display: flex;
                flex-direction: row;

                .subElement {
                    --OPTIONS-CHECK-MARGIN: var(--CHECK-MARGIN);
                    padding-top: 10px;
                }

                .element-date {
                    margin-top: 8px;
                }
            }

            .border-bottom {
                width: 100%;
                margin-top: 5px;
                border-bottom: 2px solid var(--LABEL-COLOR);
            }
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 15px;

            .delete-task {
                @include button();
                background-color: var(--BUTTON-DELETE-COLOR) !important;

                span {
                    padding: 0px 10px 0px 10px;
                    @include option-title-selected(var(--TITLE-COLOR));
                }
            }

            .delete-task:hover {
                cursor: pointer;
                opacity: 0.5;
            }

        }
    }
}