@import '../../../../../../styles.scss';

:host {
    --COLOR: #{$COLOR-FG};
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFF;
    pointer-events: none;
    background-color: var(--SN-COLOR-ACTIVE);
    opacity: 0.7;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;

    .title,
    .datasources,
    .variables {
        color: var(--COLOR);
        font-weight: 100;
        @include text-ellipsis;

        font-size: 11px;
        padding: 5px;

        position: relative;

        .item:hover {
            opacity: 0.8;
        }
        i {
            font-size: 14px;
            width: 25px;
        }

        .item.active {
            color: var(--SN-COLOR-SELECTION) !important;
        }
    }

    .title {
        font-size: 14px;
        &:hover {
            color: var(--SN-COLOR-SELECTION);
        }

        &.error {
            color: var(--SN-COLOR-ERROR);
        }

        &.selected, &.highlight {
            color: var(--SN-COLOR-SELECTION) !important;
        }
    }
}