<div class="main" [ngStyle]="widget?.css?.main">
    <div *ngFor="let child of widget?.group?.widgets"
        class="widget-child"
        [id]="child?.id"
        [style.left.px]="child.box.x"
        [style.top.px]="child.box.y"
        [style.height.px]="child.box.height"
        [style.width.px]="child.box.width">
        <widget
            [snApp]="snApp"
            [widget]="child.displayState?.rule | resolveRule: child"
            [css]="(child.displayState?.rule | resolveRule: child).css"
            [custom]="(child.displayState?.rule | resolveRule: child).custom"
        ></widget>
    </div>
</div>