@import '../../../../../../styles.scss';

:host {
    --LABEL-COLOR: #2D9CDB;
    --TITLE-COLOR: #ffffff;
    --BUTTON-DELETE-COLOR: #FF6473;
    --STORE-WIDTH: 450px;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--STORE-WIDTH);
    height: 100%;

    .options {
        max-height: 85%;
        @include custom-scrollbar;
        overflow: none !important;
        overflow-y: auto;

        .elements {
            margin: 10px 10px 20px 10px;
    
            label {    
                @include option-label(var(--LABEL-COLOR));
            }

            .element {
                margin-left: 5px;
            }
    
            .element-end {
                display: flex;
                flex-direction: row;
                
                .subElement {
                    --OPTIONS-CHECK-MARGIN: var(--CHECK-MARGIN);
                    padding-top: 10px;
                }

                .element-date {
                    margin-top: 8px;
                }
            }
     
            .border-bottom {
                width: 100%;
                margin-top: 5px;
                border-bottom: 2px solid var(--LABEL-COLOR);
            }
        }
    }   

    .footer {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        bottom: 20px;
        left: 0;

        .delete-task {
            @include button();
            background-color: var(--BUTTON-DELETE-COLOR) !important;

            span {
                padding: 0px 10px 0px 10px;
                @include option-title-selected(var(--TITLE-COLOR));
            }
        }

        .delete-task:hover {
            cursor: pointer;
            opacity: 0.5;
        }

    }
}