@import "../../../../styles.scss";

:host {
    --LABEL-COLOR: #2D9CDB;
    --TITLE-COLOR-SELECTED: #ffffff;
    --TITLE-COLOR-NO-SELECTED: #A0A7B4;
    --BUTTON-BACK-COLOR: #27AE60;
    --STORE-WIDTH: 450px;
    --TITLE-MARGIN-BOTTOM: 20px;
    --LIST-MARGIN: 8px 10px 10px 25px;
    --BACK-COLOR: #394554;
    --STORE-MARGIN: 25px 0px 25px 25px;
    --CONNECTED: #2D9CDB;
    --NO-CONNECTED: #A0A7B4;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 95%;
    width: 100%;

    .store {
        width: var(--STORE-WIDTH);
        height: 100%;
        margin: var(--STORE-MARGIN);
        box-shadow: grey;
        border-radius: 5px;
        background-color: $COLOR-BG-LIGHT;
        @include scrollbar-hidden();

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            padding: 15px;
            margin-bottom: 20px;
            position: relative;

            .store-title {
                @include option-title-selected(var(--TITLE-COLOR-SELECTED));
                padding-top: 10px;
            }

            .connection {
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 30px;
    
                .logo {
                    background-color: transparent;
                    color: var(--NO-CONNECTED);
                }
    
                .connected {
                    color: var(--CONNECTED);
                }
            }
        }

        .options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            padding: 10px;
            margin-bottom: var(--TITLE-MARGIN-BOTTOM);

            .option {
                @include option-title(var(--TITLE-COLOR-NO-SELECTED));
                padding-top: 10px;
                margin-right: 5px;
            }
    
            .option:hover {
                cursor: pointer;
                opacity: 0.7;
            }
    
            .option-selected {
                @include option-title-selected(var(--TITLE-COLOR-SELECTED));
                border-bottom: 1px solid var(--TITLE-COLOR-SELECTED);
            }

            .disabled {
                pointer-events: none;
                opacity: 0.7;
            }
            
        }

        .body {
            height: calc(100%  - 80px);

            .store-upload {
                height: 100%;
            }
           
        }
    }
}
