.main {
    height: 100%;
    width: 100%;
}

.tabs {
    display: flex;
    overflow: visible;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.selected {
    border: 1px solid var(--SN-COLOR-SELECTION);
}