<div class="select-inline">
    <span class="select-title">{{ title }}</span>

    <div class="inline-select">
        <div *ngFor="let item of items" class="item"
            [ngClass]="{'selected': selectedKeys | includes: item?.key}"
            (click)="onItemClicked(item?.key)"
            [title]="item?.value | translate">
            <i *ngIf="!withImages" [class]="item?.icon"></i>
            <img *ngIf="withImages" [style.transform]="'rotate(' + iconRotation + 'deg)'" [src]="'assets/images/' + item?.icon"
                [alt]="item?.icon" />
        </div>
    </div>
</div>
