<div class="content">

	<div class="title">
        <div class="store-title">
            {{ 'STORE.GESTION-DOWNLOADED-ELEMENTS' | translate }}
        </div>
    </div>

	<div class="info">

        <options-checkbox
			[label]="'STORE.DEPLOY-ALL' | translate"
			[checkElement]="deployAll"
			selected="true"
			(checkedChange)="onChecked()"
		>
		</options-checkbox>

		<div class="opt-list">
			<options-object-list
				class="list"
				[optionObjects]="listObjects"
				(selectedObject)="onClickObject($event)"
			>
			</options-object-list>
		</div>

		<options-logger
			class="logger"
			rows="15"
			[loadLog]="inputLog"
			[clearLog]="clearLog"
		>
		</options-logger>
	</div>

    <div class="footer">
        <div
			[ngClass]="{'inactive': deployList() }"
            class="send-elements"
            (click)="onDeploy()"
		>
			<span>{{ 'STORE.DEPLOY-TO-STUDIO' | translate }}</span>
		</div>
    </div>

</div>