@import '../../../modules/inspector/theme/_mixins.scss';

.menu {
    width: var(--SN-CONTEXTMENU-WIDTH);
    background-color: var(--SN-CONTEXTMENU-BACKGROUND-COLOR);
    color: var(--SN-COLOR-FONT);
    box-shadow: 1px 1px 5px var(--SN-CONTEXTMENU-BACKGROUND-COLOR);
    padding: 5px 0px;

    .action {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        padding: var(--SN-CONTEXTMENU-ACTION-PADDING);
        height: var(--SN-CONTEXTMENU-ACTION-HEIGHT);
        font-size: var(--SN-CONTEXTMENU-ACTION-FONT-SIZE);
        position: relative;
        opacity: 0.5;

        .title {
            @include text-ellipsis;
        }

        .icon {
            position: absolute;
            left: 8px;
        }
    }

    .action:hover {
        background-color: var(--INSPECTOR-BG-COLOR-SELECTED-ITEM-CHILDREN);
        opacity: 1;
    }
}