@import '../../../../smart-nodes/theme/variables';
@import '../../../../smart-nodes/theme/dark';
@import '../../../../smart-nodes/theme/mixins';

@mixin scrollbar {
    @include custom-scrollbar;
    overflow: none !important;
    overflow-y: auto;
}
:host {
    --SN-COLOR-SCROLLBAR: var(--SN-COLOR-PRIMARY);
    display: block;
    height: 100%;
}

.content{
    height: 100%;
    background: var(--SN-COLOR-SECONDARY);
    padding: 2px;
    color: var(--SN-COLOR-LIGHT);
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: flex-start;
    justify-content: flex-start;

    .header {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        background-color: var(--SN-COLOR-SECONDARY);
        color: var(--SN-COLOR-TERTIARY);
        border-bottom: 1px solid var(--SN-COLOR-TERTIARY);
        
        .left-controls {
            display: flex;
            flex-direction: row;
        }

        .selected-type {
            font-weight: bold;
        }

        .right-controls {
            display: flex;
            flex-direction: row;
        }
    }

    .center {
        height: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 5px;

        .preview-text {
            @include scrollbar;
            padding: 4px;
            margin: 5px;
            border-radius: 0.2em;                
            background-color: var(--SN-COLOR-INPUT);
            white-space: pre-line;
            color: var(--SN-COLOR-FONT);  
            width: calc(100% - 10px);
            height: calc(100% - 10px);
        }
    
        .edit-text {
            height: 100%;
            width: 100%;


            textarea:focus {
                outline:none;
            }

            textarea {
                @include scrollbar;
                padding: 4px;
                margin: 5px;
                border-radius: 0.2em;
                background-color: var(--SN-COLOR-INPUT);
                color: var(--SN-COLOR-FONT);  
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                resize: none;
                border: none;
            }
        }
    }

    .footer {
        border-top: 1px solid var(--SN-COLOR-TERTIARY);
        color: var(--SN-COLOR-LIGHT);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
        .languages {
            display: flex;
            flex-direction: row;            

            .language {
                min-width: 24px;
                min-height: 24px;
                background-color: var(--SN-COLOR-SEC0NDARY);   
                color : var(--SN-COLOR-FONT);
                vertical-align: middle;
                align-content: center;
                border-radius: 4px;
                padding: 5px 5px 5px 5px;    
                margin: 7px 3px 7px 3px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
            
            .selected {
                background-color: var(--SN-COLOR-ACTIVE);
            }
        }
    }
}

.button {
    margin-left: 5px;
    color: var(--SN-COLOR-FONT);
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .selected {
        font-weight: bold;
    }
}

.select-css {
    display: block;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 160px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 3px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--SN-COLOR-LIGHT);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, var(--SN-COLOR-LIGHT) 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px var(--SN-COLOR-ACTIVE);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

.select-css option {
    font-weight:normal;
}
