<div class="input" *ngIf="translations.length !== 0">
    <div class="input-text">

        <div class="element">
            <div class="text">
                <markdown 
                    class="area"
                    [data]="textShowed"
                    ngPreserveWhitespaces>
                </markdown>

                <div class="lang-selector"
                    *ngIf="(languages.length > 0)">

                    <div class="selected-lang" (click)="openChooseLanguage()">
                        {{selectedLang.lang | slice:0:2 | titlecase}}
                        <i class="fa-solid fa-caret-down"></i>
                    </div>

                    <option-multilang-pop-up
                        *ngIf="top"
                        snView="null"
                        [(top)]="top"
                        [langs]="languages"
                        short="false"
                        [selected]="selectedLang"
                        (changed)="onLangChanged($event)"
                    >
                    </option-multilang-pop-up>
                </div>

            </div>

            <div class="bottom-border" *ngIf="includeBottomBorder">
            </div>

        </div>
    </div>
</div>