<div class="top-bar" (dblclick)="maximize()">
    <!-- <div class="top-bar-drag"></div>
    <div *ngIf="!isMac" class="top-bar-buttons not-mac">

        <div class="top-bar-button minimize" (click)="minimize()">
            <i class="fa-solid fa-window-maximize top-bar-button-icon"></i>
        </div>

        <div class="top-bar-button" (click)="maximize()">
            <i class="fa-solid fa-square top-bar-button-icon"></i>
        </div>

        <div class="top-bar-button close" (click)="close()">
            <i class="fa-solid fa-xmark top-bar-button-icon"></i>
        </div>

    </div> -->
</div>

