@import "../../../theme/mixins";

.variables-cards {
    @include card-element;
    @include app-errors;

    .section {
        display: block;
        margin-bottom: 10px;
    }

    p {
        margin: 5px 0 5px 0;
        text-align: left !important;
    }

    .no-element p {
        text-align: center !important;
    }

    .actions {
        margin: 15px 10px 8px 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 15px;

        .button {
            cursor: pointer;
        }
    }
}

.property {
    @include property();
}