@import "../../../../styles.scss";

// EXPOSED VARIABLES
:host {
    --BORDER: 1px solid #{$COLOR-BG-LIGHT};
    min-width: 500px;
    background: #{$COLOR-BG-DARK};
    color: #{$COLOR-FG};
}

.content {
    max-height: 650px;
    margin-bottom: 25px;
}

.title {
    margin: 25px;
    font-size: 14px;
    font-weight: bold;
}