<div class="content">

    <div class="security">
        <security-group-main class="list"
            [groups]="securityGroups"
            [selectedId]="selectedUuid"
            (selectedGroup)="onSelectedGroup($event)"
            (createNewGroup)="onCreateNewGroup()"
            [(search)]="search"
        >
        </security-group-main>
    </div>
    
    <div class="security" *ngIf="selectedUuid">
        <security-group-detail
            [groups]="securityGroups"
            [group]="selectedGroup"
            [users]="securityUsers"
            (updateGroup)="onUpdateGroup($event)"
            (removeGroup)="onRemoveGroup($event)"
            (updateUser)="onUpdateUser($event)"
        >
        </security-group-detail>
    </div>

</div>
