
:host {

    // CONTAINER
    --POPUP-CONTAINER-MIN-WIDTH: 170px;
    --POPUP-CONTAINER-MAX-WIDTH: 500px;
    --POPUP-CONTAINER-BOX-SHADOW: 0px 4px 4px #00000040;
    --POPUP-CONTAINER-BORDER-RADIUS: 5px;

    // SECTION
    --POP-UP-HEADER-COLOR: #FFFFFF;
    --POP-UP-HEADER-BACKGROUND: #394554;
    --POP-UP-HEADER-FONT-SIZE: 12pt;
    --POP-UP-HEADER-FONT-WEIGHT: 500;

    --POP-UP-CONTENT-COLOR: #FFFFFF;
    --POP-UP-CONTENT-BACKGROUND: #1C232D;
    --POP-UP-CONTENT-FONT-SIZE: 12pt;

    --POP-UP-SELECTED: #2D9CDB;
}