@import "../../../../../styles.scss";

$TOP-BAR-MARGIN: 7px;

:host {
    height: 4*$TOP-BAR-HEIGHT;
    background-color: $COLOR-BG-POPUP-DARK;
    border-radius: 4px;
}

.top-bar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $TOP-BAR-HEIGHT;
    background-color: $COLOR-BG-BAR;

    .top-bar-drag {
        flex-grow: 1;
        height: $TOP-BAR-HEIGHT;
        background-color: transparent;
        -webkit-app-region: drag;
    }


    .logo-name {
        display: flex;
        max-width: 150px;
        margin-left: 10px;

        span {

            user-select: none;
            @include sub-title();
            line-height: $TOP-BAR-HEIGHT - 3px;
        }
    }

    .top-bar-buttons {
        display: flex;
        height: 100%;

        .top-bar-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            line-height: $TOP-BAR-HEIGHT;
            color: white;

            font-size: 20px;
            margin: 0 5px;

            border-radius: 50%;
            width: $TOP-BAR-HEIGHT - 10px;
            height: $TOP-BAR-HEIGHT -10px;

            background-color: $COLOR-BG-BAR;

            &:hover {
                background-color: lighten($COLOR-BG-BAR, 5%);
            }

            &:active {
                box-shadow: none;
                background-color: transparent;

                .top-bar-button-icon {
                    color: lighten($COLOR-CTO, 10%);
                }
            }

            cursor: pointer;

            .top-bar-button-icon {
                cursor: pointer;
            }
        }

        .top-bar-button-warn {
            color: $COLOR-WARN;
        }
    }
}

.message {
    position: absolute;
    top: $TOP-BAR-HEIGHT;
    left: 0;
    height: 2*$TOP-BAR-HEIGHT;
    width: 100%;
    text-align: left;
    padding: 20px;
    @include sub-title();
}

.btns {
    position: absolute;
    top: 3*$TOP-BAR-HEIGHT;
    left: 0;
    height: $TOP-BAR-HEIGHT;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    .btn {
        width: 80px;
        border-radius: 5px;
        height: 30px;        
        background-color: #2C6585;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @include sub-title();
        cursor: pointer;
    }

    .btn:hover {
        opacity: 0.8;
    }
}