@import "../../../../../../theme/mixins";

.event-input {
    display: flex;
    flex-direction: row;
}

.title {
    margin-top: 7px;
    @include title;
}

.input-elements {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-element {
    display: block;
    width: 100%;
}

.margin {
    margin-bottom: 5px;
}