@import '../../../../../inspector/theme/mixins';

.property {
    @include property();
}

.event-input {
    display: flex;
    flex-direction: row;
}

.title {
    margin-top: 7px;
    @include title;
}

.margin {
    margin-bottom: 10px;
}